.feature {
    background-color: rgb(200, 177, 236);
    text-align: left;
    
    &__container {
        max-width: 81.5rem;
        margin: 0 auto;
        padding: 5.5625rem 1.5rem 5.5625rem 1.5rem;

        

        @include breakpoint-up(xlarge) {
            padding: 7.4375rem 14.8125rem 7.4375rem 14.8125rem;
           
        }
    }

    &__grid {
        
        @include breakpoint-up(large) {
            display: flex;
            //flex-wrap: wrap;
        }
        
        
    }

    &__item {
        //height: 31.25rem;
        width: 19.1878rem;
        padding: 2.9375rem ;
        color: rgb(243, 233, 233);
        
        @include breakpoint-up(medium) {
            flex: 1;
            
        }

        
    }

    &__icon {
        margin-bottom: 2.5rem;
    }

    &__title {
        margin-bottom: 2.3125rem;
        font-size: 2.25rem;
        font-family: 'Big Shoulders Display', cursive;
        
    }

    &__description {
        margin-bottom: 5.3125rem;
        font-size: 0.875rem;
        font-family: 'Lexend Deca', sans-serif;
        line-height: 1.7;

        @include breakpoint-up(medium) {
            margin-bottom: 6.8125rem;
        }
    }

   
}